/** Réglages de bases **/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,600&display=swap");

body {
  font-family: "Raleway", sans-serif;
}
#bloc_page{
  margin: 2%;
}
/**             NAVBAR                **/

header {
  display: flex;
  margin-right: 5%;
}
nav {
  display: inline-flex;
  margin-left: 70%;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.menu {
  width: 450px;
}

/**            TITRE                  **/

.titre{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
}
.titre1{
  display: flex;
  height: 40px;
  font-size: 0.8rem;
}

/** BARRE DE RECHERCHE **/

.inputsearch{
  display: flex;
  justify-content: left;
  flex-direction: row-reverse;
}
#search{
  color: white;
  background-color: #0065fc;
  border: none;
  border-radius: 0px 10px 10px 0px ;
  width: 90px;
  height: 30px;
  padding: 10px;
  font-weight: bold;
}
#city{
  border: 1px solid #f2f2f2;
}
::placeholder{
  color: black;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1rem;
}
#mapicon{
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  width: 45px;
  display: flex;
  justify-content: center;
  padding-top: 12.5px;
}

/** FILTRES DE RECHERCHES **/
.filters{
  display: flex;
  justify-content: space-evenly;
  margin-right: 700px;
}
.filtre{
  margin-top: 30px;
  display: flex;

}
.fas{
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 28px;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 40px 40px 40px 40px;
  width: 30px;
  padding-left: 10px;
  padding-top: 10px;
}
span{
  display: flex;
  align-items: center;
  border: #d9d9d9 solid 2px;
  border-radius: 30px 30px 30px 30px;
  height: 35px;
  padding-left: 50px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}
h2{
 display: flex;
 font-size: 1.2rem;
 padding-top: 20px;
 padding-right: 10px;
}