/** Réglages de bases **/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,600&display=swap");

body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#ab {
  color: #0065fc;
}
#ef {
  font-weight: bold;
  color: #0065fc;
}
a:visited {
  color: black;
}
* {
  text-decoration: none;
  list-style-type: none;
}
/** HEADER & Barre de navigation **/
.search{
  margin-left: 13%;
  margin-right: 8.5%;
}
header {
  width: 100%;
  display: flex;
}
.headerlink {
  padding: 2rem;
}
.headerlinkInscription {
  padding: 2rem;
  color: #0065fc;
  font-weight: bold;
}
li .headerlinkInscription {
  color: #0065fc;
}
nav {
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-right: 0%;
}
.logo {
  width: 100%;
  margin-right: 0%;
}
.menu {
  width: 100%;
  justify-content: flex-end;
}
header .menu > ul {
  margin-top:0;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}
header ul > li {
  display: flex;
  margin-right: 1%;
}
.headerlink:hover,
.headerlinkInscription:hover {
  color: #0065fc;
  cursor: pointer;
  border-top: 2px solid #0065fc;
}
#bar1,
#bar3 {
  font-weight: normal;
  color: #0065fc;
}

/**            TITRE et  SOUS-TITRE                 **/

.titre {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.titre1 h1 {
  display: flex;
  font-size: 1.3rem;
  margin-bottom: 1%;
}
.soustitre h2 {
  margin-top: 0%;
  margin-bottom: 5%;
  padding: 0%;
  font-weight: normal;
  font-size: 1.2rem;
}

/** BARRE DE RECHERCHE **/

.inputsearch {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
button {
  font-size: 1rem;
  padding: 1%;
  align-items: center;
  vertical-align: center;
  border: none;
  border-color: #0065fc;
  color: white;
  background-color: #0065fc;
  border-radius: 0px 20px 20px 0px;
}
#city {
  align-items: center;
  vertical-align: center;
  border: 1px solid #f2f2f2;
  width: 12.5%;
}
::placeholder {
  color: black;
  font-weight: bold;
  padding-left: 5%;
  justify-content: center;
  font-size: 1.1rem;
}
#mapicon {
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  width: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** FILTRES DE RECHERCHES **/

p.filtres {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 1rem;
}
.filters {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}
.filtre {
  display: flex;
  font-weight: bold;
  cursor: pointer;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  align-items: center;
  transition-duration: 0.1s;
}
.filtericon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1%;
  background-color: #deebff;
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.9rem;
  min-height: 2.9rem;
  color: #0065fc;
}
.filtertitle {
  margin: 0 1.3rem;
}
.filtre:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
}
.infos {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0;
}
.infoicon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  color: #0065fc;
  min-width: 2rem;
  min-height: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
}

/** HEBERGEMENTS **/

h3{
  display: flex;
  font-size: 1.6rem;
}
main{
  display: inline-flex;
  width: 100%;
  height: 40rem;
  margin-left: 8%;
}
#hebergements{
  display: flex;
  margin-right: 3.5%;
  margin-left: 5%;
  flex-direction: column;
}
.article-title{
  margin-left: 6%;
}
main article,main aside{
  background: #f2f2f2;
  border-radius: 25px;
  margin-top: 2%;
}
main article > .room-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
main > article .link{
  padding: 0.3rem;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 2px 6px 20px 0px #8080805c;
  border-radius: 20px;
  background-color: white;
}
main > article img{
  display: flex;
  height: 7rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.link:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
main > article .link-body{
  display: flex;
  margin: 0.2rem 0.2rem;
  flex-direction: column;
  justify-content: flex-end;
}
main > article .link-title,.link-text,.link-stars{
  color: black;

  margin: 0.1rem;
}
main > article .link-title{
  font-size: 1.208rem;;
  font-weight: bold;
}
main > article .link-text{
  font-size: 0.9rem;
  padding-left: 0.1rem;
}
main > article .link-stars{
  color: #0065fc;
  font-size: 0.8rem;
}
main > article .see-more{
  display: flex;
  padding-left: 50px;
  font-weight: bold;
  font-size: 1.1rem;
  padding-top: 30px;
}
.starIconGrey{
  color: #d9d9d9;
  font-size: 0.8rem;
}

/* LES PLUS POPULAIRES */

aside{
  display: grid;
  padding: 2rem;
  row-gap: 2rem;
  width: 20%;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}
.poptitle{
  font-size: 1.6rem;
  display: flex;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
aside .link1,.link2,.link3{
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.link1:hover, .link2:hover, .link3:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
aside a{
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}
aside .link-img {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}
aside img {
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
aside .link-body {
  display: flex;
  flex-direction: column;
}
aside .link-title{
  display: flex;
  font-size: 1.208rem;
  flex-direction: column;
}
aside .link-title{
  margin: 0.25rem 0.75rem 0 0.75rem;
}
aside .link-text{
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
aside .space{
  flex: 1;
}
aside .link-stars{
  margin: 0 0.75rem 0.25rem 0.75rem;
}
.starIcon {
  color: #0065fc;
  font-size: 0.8rem
}

/* ACTIVITES A MARSEILLE */
#activites-mrs {
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  width: 76.4%;
  margin-left: 13%;
  margin-bottom: 2%;
}
#activites{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  grid-template-rows: repeat(1, 225px);
  width: 100%;
}
.cartes-link,.cartes-link2,.cartes-link3,.cartes-link4,.cartes-link5,.cartes-link6{
  border-radius: 20px;
  box-shadow:  2px 2px 12px 0px #00000036;
}
.cartes-link:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.cartes-img > img {
  border-radius: 20px 20px 0px 0px;
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 26.5rem;
  margin: 0%;
}
.cartes-img2 > img {
  border-radius: 20px 20px 0px 0px;
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 12rem;
}
.cartes-img3 > img {
  border-radius: 20px 20px 0px 0px;
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 8.9rem;
}
.cartes-img4 > img{
  border-radius: 20px 20px 0px 0px;
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 27rem;
  margin: 0%;
}
.cartes-img5 > img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 10rem;
  border-radius: 20px 20px 0px 0px;
}
.cartes-img6 > img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 11rem;
  border-radius: 20px 20px 0px 0px;
}
.cartes-link3{
  margin-top: 9%;
}
.carte3 {
  margin-top: 10%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.carte6{
  grid-column-start: 5;
  grid-column-end: -2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.cartes-text {
  display: flex;
  font-weight: bold;
  color: black;
  border-radius: 0px 0px 20px 20px;
  padding-left: 1rem;
}

/* FOOTER */

footer {
  width: 100%;
  display: flex;
  background-color: #f2f2f2;
  justify-content: space-around;
}
footer,ul{
  padding: 0;
  margin-bottom: 0;
}
footer ul > li {
  display: flex;
  margin-bottom: 5%;
}
